

{% extends 'dashlayout.html' %}

{% block content %}
<div class="container profile-container mt-5">
    <h2 class="profile-heading">User Profile</h2>
    {%set m = get_flashed_messages(with_categories=True)%}
    {%if m: %}
    {%for usr,msg in m%}
        {%if usr == 'error'%}
            <div class="alert alert-danger"> {{msg}} </div>
        {%else%}
            <div class="alert alert-success"> {{msg}} </div>
        {%endif%}
    {%endfor%}
    {%endif%}
    <form id="userProfileForm" method="POST" enctype="multipart/form-data">
        <!-- Include CSRF token for Flask-WTF -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username" value="{{ user.username }}" disabled>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="{{ user.email }}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">New Password (leave blank to keep current password)</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="New Password">
        </div>
        <div class="mb-3">
            <label for="profile-picture" class="form-label">Profile Picture</label>
            <input type="file" class="form-control-file btn btn-outline-secondary rounded-pill" id="profile-picture" name="profile_picture">
            {% if user.profile_picture %}
                <img id="profile-preview" src="/static/assets/img/uploads/{{ user.profile_picture }}" alt="Profile Picture Preview" class="img-fluid mt-2" width="150">
            {% else %}
                <img id="profile-preview" src="{{ url_for('static', filename='assets/img/uploads/default.png') }}" alt="Profile Picture Preview" class="img-fluid mt-2" width="150">
            {% endif %}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary text-white form-control">Update Profile</button>
        </div>
    </form>
</div>

<script>
    document.getElementById('profile-picture').addEventListener('change', function(event) {
        var reader = new FileReader();
        reader.onload = function() {
            var output = document.getElementById('profile-preview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    });
</script>

{% endblock %}
